<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Projeto Angular JS</title>
</head>
<body>

<div ng-app="meuApp" ng-init="dolar=3.15" ng-controller="meuCtrl">
    Nome: <input type="text" ng-model="nome"><br><br>
    Sobrenome: <input type="text" ng-model="sobrenome"><br><br>
    <p>{{ nome + " " + sobrenome }}</p><br>

    A cor da letra é: <input type="text" ng-model="cor" style="color: {{ cor }}"><br><br>
    <input type="text" ng-model="real">
    <p>R${{ real }} reais = ${{ real / dolar }} dolares</p>
</div>


<!-- SCRIPT -->
<script src="angular.min.js"></script>
<script src="app.js"></script>
<!-- SCRIPT -->
</body>
</html>