body {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: center;
    height: 120px;
}

header .container {
    display: flex;
    justify-content: space-between;
    width: 990px;
    background-color: #ff0000;
}

header.container .logo {

}

header.container .menu {

}