.d-flex {
    display: flex;
}
.d-flex.column {
    flex-direction: column;
}
.d-flex.row {
    flex-direction: row;
}
.flex-1 {
    flex: 1;
}

.justify-content-start {
    justify-content: flex-start;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-end {
    justify-content: flex-end;
}

.align-items-start {
    align-items: flex-start;
}

.align-items-center {
    align-items: center;
}

.align-items-end {
    align-items: flex-end;
}

.w-75 {
    width: 75%;
}

.m-auto {
    margin: auto;
}
.m-1 {
    margin: 1rem;
}

.p-1 {
    padding: 1rem;
}

img.responsive {
    object-fit: cover;
    object-position: center;
}